html {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: #3e8e41;
}

nav {
    position: fixed;
    border: 300px;
    border-color: black;
    display: block;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
}



li {
    display: inline;
}

footer {
    position: absolute;
}