html {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: #3e8e41;
}

nav {
    position: sticky;
    background-color: aliceblue;
    margin-bottom: 111px;
    text-align: left;
}

li {
    display: inline;
}

footer {
    position: absolute;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: 24px;
    color: white;
    background-color: lightgrey;
    border: none;
    box-shadow: 0 9px grey;
}

button:hover {
    background-color: limegreen;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
