html {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: #3e8e41;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: aqua;
}

li {
    display: inline;
}

footer {
    position: absolute;
}